{% extends 'base.html' %}

{% block content %}

<h1>SALA MANAGER</h1>
{% for sala in salas %}
    <h1>{{sala._nombre}}</h1>
{% endfor %}

<form action="/crear-orden-venta" method="POST">
    
    <input  name="observaciones" placeholder="Ingrese sus observaciones">
    {% include 'productos-clientes.html'%}
    {% include 'seleccionar-tipo-entrega.html'%}
    {% include 'seleccionar-tipo-pago.html'%}
    {% include 'seleccionar-vendedores.html'%}
    
    <button type="submit" class="btn btn-danger">CREAR CAB :)</button>

</form>

<h1> Productos del cliente: </h1>
{% include 'productos-clientes.html'%}


{% endblock %}