{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto p-6">
    <div class="bg-white rounded-lg shadow-md p-8">
        <h1 class="text-4xl font-bold text-center text-gray-800 mb-6">Bienvenido a la Página del Combo Box</h1>
        <p class="text-lg text-gray-600 text-center mb-4">
            Lo que podes hacer:.
        </p>
        <div class="flex justify-center mb-6">
            <img src="https://th.bing.com/th/id/OIG1.XlU4q82PLpVFsuMz5egb?pid=ImgGn" alt="Combo Box" class="w-80 h-80 shadow-md"> <!-- Reduced size and less rounding -->
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="bg-blue-100 p-4 rounded-lg shadow hover:shadow-lg transition duration-300">
                <h2 class="text-xl font-semibold text-gray-800">Seleccionar Cliente</h2>
                <p class="text-gray-600">Elige un cliente para continuar con el proceso de venta.</p>
                <a href="/seleccionar-cliente" class="mt-4 inline-block bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 transition duration-300">
                    Seleccionar
                </a>
            </div>

            <div class="bg-yellow-100 p-4 rounded-lg shadow hover:shadow-lg transition duration-300">
                <h2 class="text-xl font-semibold text-gray-800">Seleccionar Orden de Venta</h2>
                <p class="text-gray-600">Elige una orden de venta para continuar.</p>
                <a href="/ordenes" class="mt-4 inline-block bg-yellow-600 text-white py-2 px-4 rounded hover:bg-yellow-700 transition duration-300">
                    Seleccionar Orden 
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
