<div class="max-w-2xl mx-auto p-4 bg-white rounded-lg shadow-md mt-10">
  <label for="id_vendedor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Seleccionar Vendedor</label>
  <select name="id_vendedor" id="id_vendedor" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option value="" disabled selected>-- Seleccione un vendedor --</option>
      {% for vendedor in vendedores %}
          <option value="{{ vendedor.id_empleado }}">{{ vendedor.nombre }} // {{ vendedor.apellido }}</option>
      {% endfor %}
  </select>
</div>
