{% extends 'base.html' %}

{%block content %}


<link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.4/dist/flowbite.min.css" />

<div class="max-w-2xl mx-auto">

	<label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Seleccionar un cliente</label>
        <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

        {%for cliente in clientes%}
        <option value="{{cliente}}">{{cliente}}</option>
        {% endfor %}
        
    </select>

	<script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
</div>
{%endblock%}